*{
margin: 0px;
padding: 0px;
}
head{
    
  align-items: center;
}
.menu{position:fixed;
  align-items: center;
  align-content: center;
	top:0;
	height: 150px;
  width:100%;
  background-color: white;
  background: white;

}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #7ABA96;
  }
  
  a:active {
    text-decoration: underline;
  }
a{
    color: #8A8070;
}

body{
    
    color: #8A8070;
    text-align: center;
}
#nav nav{
    position: sticky;
    left: 45%;
}

#aside{
    position: absolute;
    width: 10%;
    height: 45%;
    
    left: 7%;
    top: 20%;
   
}
#libro{
    background-color: gainsboro;
}
aside h4{
    background-color: #7ABA96;
}
#B1{
    
    width: 30%;
    height: 40%;
    position: relative;
    display: inline-block;
    
}
#trecetas{
    position: relative;
    display: inline-table;
    width: 50%;
    left: 10%;

}
table{
    
    border-collapse: separate;
    border-spacing: 8% 16%;
}
.plato{
    width: 40%;
    text-align: left;
    background-color: peachpuff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    
    border-radius: 12px;
}
#B2{
    
    width: 30%;
    height: 40%;
    position: relative;
    display: inline-block;
    
}
#B2 div{
    position: relative;
    width: 80%;
    

}
#B1 div{
    position: relative;
    width: 80%;
    display: inline-block;

}
.sobremi{
    position: relative;
    width: 43%;
    height: 70%;
    display: block;
    left: 25%;
    text-align: justify;
}
#sobremi{
  height: 130%;
}
#coocking{
    width: 40%;
    height: 60%;
    float: left;
    margin: 1%;
}

.flip-card {
    background-color: transparent;
    width: 20%;
    height: 60%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    position: absolute;
    display: inline-block;
    right: 5%;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  } 
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-back {
    background-color: #ddb09d;
    color: white;
    transform: rotateY(180deg);
  }

footer{
    margin: 0%;
    position: absolute;
    width: 100%;
    bottom: 0%;
   padding: 1%;
   background-color: black;
   
   
}
footer div{
    align-items: center;
   align-content: center;
}
footer div a{
    color: white;
}
.flip-card1{
    background-color: transparent;
    width: 20%;
    height: 60%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    position: absolute;
    display: inline-block;
    right: 5%;
    top: 15%;
}
.form{
  width: 40%;
  height: 60%;

}
.form div{
  width: 100%;
  height: 100%;
}
form{
  width: 100%;
  height: 100%;
}
#receta{
  
  display: block;
  position: unset;
  width: 40%;
  align-items: center;
  text-align: justify;
  top: 300px;
  left: 38%;
  bottom: 20px;
  margin-top: 150px;
  margin-left: 50%;
}
#r1{
  width: 1920px;
  height: 1080px;
  
  
}
#footer1{
margin-right: 0px;
  position: relative;
  bottom: 0px;
  width: 140%;
 height: 20px;
}
#menu{
  width: 100%;
  height: 100%;
  background-color: white;
}
